/* Contenedor Principal */
.add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* Controles de Cantidad */
.quantity{
    color: #000;
}
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

.quantity-controls button:hover {
    background-color: #218838;
}

.quantity-controls .quantity {
    font-size: 18px;
    width: 40px;
    text-align: center;
}

/* Botón Añadir al Carrito */
.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-button:hover {
    background-color: #0069d9;
}
